@model IEnumerable<KelimeUzmani.Entity.WordList>

@{
    int a = 0;
    foreach (var item in Model)
    {
        a++;
        <div class="row listItem" onmouseover="itemover(@item.ID)">
            <div class="col-lg-12 ">
                <div id="list_@item.ID" class="float-left">
                    <span class="col-form-label">@item.Name</span><br />
                    <span class="col-form-label">Word Count: @item.WordListList.Count</span>
                </div>
                <div class="float-right sagmenu" id="menu_@item.ID" style="display:none;">
                    @*<a  class="btn btn-secondary" onclick="Words(@item.ID)"><i class="fa fa-list"></i></a>
                    <a href="javascript:void(0)" class="btn btn-secondary" onclick="KelimeEkle(@item.ID)"><i class="fa fa-plus-square-o"></i></a>
                    <a href="" class="btn btn-secondary"><i class="fa fa-wheelchair"></i></a>*@

                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a href="#words_@item.ID" class="flex-sm-fill text-sm-center nav-link active btn btn-secondary"onclick="Words(@item.ID)"><i class="fa fa-list"></i></a>
                        <a href="#wordsadd_@item.ID" class="flex-sm-fill text-sm-center nav-link active btn btn-secondary" onclick="KelimeEkle(@item.ID)"><i class="fa fa-plus-square-o"></i></a>
                        <a class="flex-sm-fill text-sm-center nav-link btn btn-secondary" href="#"><i class="fa fa-wheelchair"></i></a>
                    </nav>
                </div>

              
            </div>

            <div class="tab-content">
                <div class="tab-pane"  role="tabpanel"  id="words_@item.ID">...</div>
                <div class="tab-pane" id="wordsadd_@item.ID" role="tabpanel">...</div>

            </div>

        
        </div>
    }
}

<script>
    function Click(ID) {
        //$("div").removeClass("card-warning");

        var divname = "#list_" + ID;
        var tabContent = "#tabContent_" + ID;
        //$(divname).addClass("card-warning");

        $(".tabslist").hide();
        $(".contentTab").hide();

        var tablist = "#listTabs_" + ID;
        $(tablist).show();
        $(tabContent).show();


    }

    function itemover(ID) {
        $(".sagmenu").css("display","none");

        var sagmenu="#menu_" + ID;
        $(sagmenu).addClass("sagmenu");
        $(sagmenu).show();
    }

    function Words(ID) {
        var name = "#words_" + ID;
        //var nameWordsAdd = "#wordsadd_" + ID;

        
        $.ajax({
            url: '@Url.Action("GetWordsOfList", "Lists")',
            type: "POST",
            cache: true,
            async: true,
            data: { listID: ID },
            success: function (text, data) {
                $(name).html(text);
                $(name).show();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
    }

    function KelimeEkle(ID) {
        var name = "#wordsadd_" + ID;
        //var nameWords = "#words_" + ID;
        
        $.ajax({
            url: '@Url.Action("GetSearchWord", "Word")',
            type: "GET",
            cache: true,
            async: true,
            data: { listID: ID },
            success: function (text, data) {
                $(name).html(text);
                $(name).show();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
    }
</script>