@model IEnumerable<KelimeUzmani.Entity.WordList>
<style>
    .borderOrange {
        -webkit-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        transition: all 500ms linear;
        height: 80px;
        cursor:pointer;
    }

        .borderOrange:hover {
            box-shadow: 0px 2px 2px #d1d1d1;
            -moz-box-shadow: 0px 2px 2px #d1d1d1;
            -webkit-box-shadow: 0px 2px 2px #d1d1d1;
            -webkit-transition: all 500ms linear;
            -ms-transition: all 500ms linear;
            transition: all 500ms linear;
            background-color: #fafafa;
            color: #000;
        }

    .border {
        box-shadow: 0px 2px 2px #d1d1d1;
        -moz-box-shadow: 0px 2px 2px #d1d1d1;
        -webkit-box-shadow: 0px 2px 2px #d1d1d1;
        background-color: #ddd;
        color: #000;
    }

    #selectedList {
        height:40px;
        /*border-radius:10px;*/
        border-bottom:1px solid #d1d1d1;
    }

    .ContentDiv {
        height: 200px;
    }
</style>

<div id="WordListsGroup" class="row" style="position:relative;">
        @{
            int a = 0;
            foreach (var item in Model)
            {
                a++;
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="card card-hover">
                        <div class="card-block ">
                            <h4 class="card-title">@item.Name</h4>
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <a href="@Url.Action("WordList","Lists",new { ID =  item.ID })" class="btn btn-primary"><i class="fa fa-graduation-cap"></i> Listeyi Öğren</a>
                        </div>
                    </div>
                </div>
                @*<div class="mycard">
                    <div class="float-left">
                        <h4 class="card-title">@item.Name</h4>
                    </div>
                    <div class="float-right">
                        <a href="@Url.Action("WordList","Lists",new { ID =  item.ID })" class="btn btn-primary"><i class="fa fa-graduation-cap"></i> Listeyi Öğren</a>
                    </div>
                </div>*@
            }
        }
    </div>




<div class="ContentDiv" id="ContentDiv" style="display:none;">
    <div id="selectedList" class="col-sm-12">
        <div class="float-left">
            <span id="itemName" style="font-weight:bold;"></span>
            <input type="hidden" id="listID" />
        </div>
        <div class="float-right">
            <span class="badge badge-pill badge-info" id="WordCount">Default</span>
        </div>
    </div>

    <div id="WordsList" class="col-sm-12 padding0">

    </div>

    <div class="float-right">
        <a href="javascript:void(0)" class="btn btn-outline-secondary btn-sm" onclick="backtoList()"><i class="fa fa-chevron-circle-left"></i> Back to List</a>
    </div>

</div>

<script>
    function GetContent(ID) {
        var list = "#list_" + ID;

        var name = "#wordname_" + ID;
        var count = "#wordcount_" + ID;

        $("#itemName").text($(name).text());
        $("#WordCount").text($(count).text());

        $(".borderOrange").removeClass("border");
        $(list).addClass("border");

        $("#WordListsGroup").slideUp();
        $("#toolbar").slideUp();

        $("#ContentDiv").slideDown();

        $.ajax({
            url: '@Url.Action("GetContentOfList", "Lists")',
            type: "POST",
            cache: true,
            async: true,
            data: { listID: ID },
            success: function (text, data) {
                $("#WordsList").html(text);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
    }

    function backtoList() {
        $("#WordListsGroup").slideDown();
        $("#toolbar").slideDown();
        $("#ContentDiv").slideUp();
    }


</script>