@model IEnumerable<KelimeUzmani.Entity.WordListList>
<div class="input-group">
    <input type="text" class="form-control" id="txtWord" placeholder="kelime giriniz" onkeypress="return search(event)">
    <span class="input-group-btn">
        <button class="btn btn-secondary btn-sm" type="button" onclick="searchText()"><i class="fa fa-search"></i></button>
    </span>
</div>

<div class="col-sm-12 padding0" id="searchResult">

</div>

<div class="col-sm-12 padding0" id="wordtable">
    @Html.Partial("WordTable",Model)
</div>

<div id="result">

</div>
<script>
    function Ekle(wordID) {
        var word = $("#txtWord").val();

        var ID = parseInt(@ViewBag.ListID);

        $.ajax({
            url: '@Url.Action("AddWordToList", "Lists")',
            type: "POST",
            cache: true,
            async: false,
            data: { listID: ID, wordID: wordID },
            success: function (text, data) {
                $("#wordtable").html(text);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
   }

    function searchText() {

        var search = $("#txtWord").val();

        var ID = parseInt(@ViewBag.ListID);

        $.ajax({
            url: '@Url.Action("SearchWord", "Word")',
            type: "POST",
            cache: true,
            async: false,
            data: { searchText: search,listID:ID },
            success: function (text, data) {
                $("#searchResult").html(text);
                $("#searchResult").slideDown();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });

    }

    function search(e) {
        if (e.keyCode == 13) {

            searchText();
        };
    }

</script>