@model List<KelimeUzmani.Entity.Word>

@*<table class="table table-striped">
    <thead>
        <tr>
            <th>word</th>
            <th>description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int a = 0;
            foreach (var item in Model)
            {
                a++;
                <tr id="WordOfList_@item.ID">
                    <th scope="row">@a.ToString()</th>
                    <td>@item.WordBody</td>
                    <td>@item.Description</td>
                    <td><a href="#" class="btn btn-sm"><i class="fa fa-plus-circle"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>*@

@*listID viewbag.ID*@
    @foreach (var item in Model)
    {
        <div class="row col-lg-12 col-md-12 col-sm-12" style="margin-top:5px;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                @item.WordBody
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                @item.Description
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="float-right"><a href="#" class="btn btn-sm btn-outline-info"><i class="fa fa-plus-circle"></i></a></div>
                
            </div>
        </div>
    }
    @if (Model.Count == 0)
    {
        <span><small> kelime bulunamadı </small></span>
    }
